<footer class="footer">
    <div class="container footer-container">
        <ul class="footer-navigation">
            <li class="footer-link">
                <a class="footer-underline" href="privacy.html">Privacy Policy</a>
            </li>
            <li class="footer-link">
                <a class="footer-underline" href="terms.html">Terms Of Service</a>
            </li>
        </ul>
        <p class="footer-text">© 2026 All rights reserved. outerbridgeway.com</p>
    </div>
</footer>