<section class="home-section" id="home">
    <div class="container">
        <h1 class="visually-hidden">stay hidden</h1>
    <h2 class="visually-hidden">Stay quiet</h2>
        <picture>
            <source srcset="
                /img/home/stay-desk.png 1x,
                /img/home/stay-desk@2x.png 2x
                             " media="(min-width: 1440px)" />
            <source srcset="
                /img/home/stay-mob.png 1x,
                /img/home/stay-mob@2x.png 2x
                            " media="(max-width: 1439px)" />
            <img class="home-logo" src="/img/home/stay-mob.png" alt="Pop Island: Match & Build" loading="lazy" />
        </picture>
        <picture>
            <source srcset="
                        /img/home/quiet-desk.png 1x,
                        /img/home/quiet-desk@2x.png 2x
                                     " media="(min-width: 1440px)" />
            <source srcset="
                        /img/home/quiet-mob.png 1x,
                        /img/home/quiet-mob@2x.png 2x
                                    " media="(max-width: 1439px)" />
            <img class="home-subtitle" src="/img/home/quiet-mob.png" alt="Pop Island: Match & Build" loading="lazy" />
        </picture>
        <p class="home-text">The city sleeps. You don’t.</p>
    </div>
</section>